/* -------------------------------------------------------------------------------------------------------------- */
/* GENERAL *
/* -------------------------------------------------------------------------------------------------------------- */


*{
    font-family: 'Gayathri', sans-serif;
    letter-spacing: 2px;    
}

.bg-black{
    background-color: black;
}

.bg-gold{
    background-color: gold;
}

.tc-gold{
    color: gold;
}

.tc-white{
    color:white;
}

.tc-black{
    color: black;
}

.tc-red{
    color: red;
}

.link-no-decoration{
    text-decoration: none;
}


/* -------------------------------------------------------------------------------------------------------------- */
/* NAVBAR */
/* -------------------------------------------------------------------------------------------------------------- */


.grg-brand:hover{
    color: white;
    transform: scale(0.8);
    transition: 0.3s;
}

.grg-brand {
    color: gold;
    font-size: 50px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* margin-bottom: auto; */
}

.input-search{
    background: transparent;
    border: none;
    font-size: 13px;
}
  

/* --------------------------------------------------------------------------------------------------------------- */
/* WELCOME */
/* .................................................................................................................. */


.welcome-background{
    height: 85vh;
}

.button-welcome{
    font-weight: 800;
    text-shadow: 1px 1px gold;
    text-decoration: none;
    color: black;
    border: 3px solid white;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 50px;
}

.button-welcome:hover{
    color: rgb(108, 84, 24);
}

.over-text-welcome{
    position: relative;
    z-index: 2;
    top: -40%;
    font-size: 20px;
    left: 110px;
}

.welcome-saldi{
    position: absolute;
    z-index: 2;
    top: 100px;
    right: 25%; 
    width: 50%;
    text-align: center;
    display: flex;
    padding: 20px;
    font-weight: bolder;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 247, 0, 0.716);
    border-radius: 4px;
}


/* -------------------------------------------------------------------------------------------------------------- */
/* PRODUCTS */
/* -------------------------------------------------------------------------------------------------------------- */

.text-show-top{
    font-size: 15px;
}

.text-area-misure{
    width: 100%;
    height: 200px;
    resize: none;
}

.description-sex-text{
    font-size: 15px;
}

.sex-text{
    font-size:25px;
    font-weight: 900;
    text-shadow: 2px 2px gold;
}

.filter-count-text{
    font-size: 12px;
    margin-top: -20px;
    font-weight: bolder;
}

.label-checkbox-filter{
    display: block;
    padding-left: 13px;
    text-indent: -13px;
    font-size:11px;  
}

.input-checkbox-filter{
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.filter-parameters-price{
    font-size: 11px;
}


/* -------------------------------------------------------------------------------------------------------------- */
/* ACCOUNT */
/* -------------------------------------------------------------------------------------------------------------- */


.add-image{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left:40px;
    bottom:20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lime;
    display: flex;
    justify-content: center;    
}

.heart-button{
    border: 1px solid black;
}

.insert-button:hover{
    transform: scale(0.8);
    transition: 0.4s;    
}


/* -------------------------------------------------------------------------------------------------------------- */
/* footer */
/* -------------------------------------------------------------------------------------------------------------- */


.grg-footer{
    width: 100%;
    margin:0;
}


/* -------------------------------------------------------------------------------------------------------------- */
/* PAYMENT */
/* -------------------------------------------------------------------------------------------------------------- */

.messagebuy{
    background-color: gold;
    color: black;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messagesell{
    background-color: rgba(205, 108, 108, 0.537);
    color: black;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-brand{
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
}


/* ------------------------------------------------------------------------------------------------------------------------------- */
/* BUTTONS */
/* -------------------------------------------------------------------------------------------------------------------------------- */


.btn-filters{
    background: none;
    border: 1px solid gray;
    margin: 5px;
}

.btn-grg{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: black;
    color:white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-add{
    /* position: relative; */
    background-color: gold;
    text-transform: uppercase; 
    font-weight: bold;
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-search{
    background: none;
    border: none;
}

.btn-regular{
    background: none;
    border: none;
}

.btn-pay{
    margin-bottom: 50px;
    position: relative;
    background-color: gold;
    border: 1 px solid black;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-checkout{
    background-color: gold;
    border: 1 px solid black;
    border-radius: 4px;
    font-weight: bold;
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-pay:hover{
    transform: scale(1.02);
    transition: 0.2s;
    color: black;
}

.btn-mod{
    position: relative;
    background-color: red;
    text-transform: uppercase; 
    font-weight: bold;
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-grg-general{
    background-color: gold;
    border: 1 px solid black;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* ------------------------------------------------------------------------------------------------------------- */
/* STRIPE PAY */
/* ---------------------------------------------------------------------------------------------------- */


.panel-title {
    display: inline;
    font-weight: bold;
}

.display-table {
    display: table;
}

.display-tr {
    display: table-row;
}

.display-td {
    display: table-cell;
    vertical-align: middle;
    width: 61%;
}


/*-----------------------------------------------------------------------  */
/* CART */
/* ------------------------------------------------------------- */
.card-cart{
    height: 100px;
}

.circle-counter{
    background-color: gold;
    color: black;
    height: 15px;
    width: 15px;
    margin-bottom: 30px;
    margin-right: 3px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid black;
}

.quantity-cart{
    font-size: 12px;
    margin-bottom: auto;
    margin-top:auto;
    padding-left: 3px;
    padding-right: 3px;
}

.carouel-image{
    width: 100%;
    height: auto;
    max-height: 700px;
    padding: 0;
    margin: 0; 
}

.bg-side{
    background-color: rgba(251, 255, 139, 0.597);
}

.btnGrg{
    background: none;
    border: none;
}



/* NAVBAR */
.navbargrg-link-offcanvas{
    display: flex;
    justify-content: space-between;
}

.navbargrg-link-offcanvas:hover{
    color:black;
    font-weight: 700;
    font-size: 25px;
}

.offcanvas-brand{
    font-size: 32px;
    margin-top:auto;
    margin-bottom: auto;
    color: gold;
    font-weight: bolder;
    text-shadow: 1px 1px black;
 }

 .navbar-search{
    width: 60%;
    border: 3px solid gold;
    border-radius: 10px;
    margin-bottom: 20px;
}

.offcanvas-search{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.account-on{
    display: inline-block;
    margin-bottom: 10px;
    height: 4px;
    width: 4px;
    background-color: red;
    border-radius: 50%;
}

.dropdown-login{
    padding-right: 20px;
    width: min-content;
}

/* --------------------------------------------------- */


.cart-product{
    width: 50%;;
    border: 1px solid black;
    justify-content: flex-end;
    margin-right: 0;
}


/* ------------------------------------------------------------------------- */  
/* FILTERS */
/* ------------------------------------------------------------------------- */

.filter-gap{
    height: 100%;
}

.filter-content:focus{
    outline: 0;
    box-shadow: none;
}

.accordion-button:not(.collapsed){
    color: black;
    background-color: white;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
    background-color: gold;
    color: black;
}

.accordion-button:not(.collapsed)::after{
    background-image: url("/img/arrow_bella.png");
}

.accordion-button::after{
    background-image: url("/img/arrow_bella.png");
}

.filter-section{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
}

.filter-section-content{
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* -------------------------------------------------------------------------------------------- */


.brandsResult{
    border:1px solid gold;
    padding: 5px;
}
